<h1>Editing language</h1>

<% form_for([:admin, @language]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @language] %> |
<%= link_to 'Back', admin_languages_path %>