<div id="addPost">
	<% form_for(@blogpost) do |f| %>
	  <%= f.error_messages %>
	<p class="fieldItem">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p class="fieldItem">
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>

	<p class="fieldItem">
		<%= f.label :synopsis %>
		<%= f.text_area :synopsis %>
	</p>

	<p class="fieldItem">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>

	<p class="fieldItem">
		<%= f.label :published %>
		<%= f.check_box :published %>
	</p>

	<p class="fieldItem">
		<%= f.label :publishdate %>
		<%= f.datetime_select :publishdate %>
	</p>
	
	<p>
		<%= f.submit "Create" %>
	</p>
	<% end %>

</div>

<%= link_to 'Back', blogposts_path %>