<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Age:</b>
  <%=h @person.age %>
</p>

<p>
  <b>Jobtitle:</b>
  <%=h @person.jobtitle %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>