<article id="dataset">
	<header>
		<h1 id="datasetTitle"><%=h @dataset.name %></h1>
	</header>
	
	<section id="description">
		<%= simple_format(@dataset.description) %>
	</section>

<section id="info">
	<p>
	  <strong>Version</strong>
	  <%=h @dataset.version %>
	</p>
	
	<% if @dataset.info_url.present? %>
	<p>
	  <strong>Further information</strong>
	  <%= h @dataset.info_url %>
	</p>
	<% end %>

	<% for format_url in @dataset.format_urls %>
	<p>
		<strong><%=h format_url.format_type.name %></strong>
		<%=h format_url.url%>
	</p>
	<% end %>

<p>
  <strong>Language</strong>
  <%=h @dataset.language.name %>
</p>

<p>
  <strong>Geographic coverage</strong>
  <%=h @dataset.geo_extent %>
</p>

<p>
  <strong>Maintainer</strong>
  <%=h @dataset.maintainer %>
</p>

<p>
  <strong>Contact email</strong>
  <%=h @dataset.contact_email %>
</p>

<p>
  <strong>Update frequency</strong>
  <%=h @dataset.update_frequency %>
</p>

<p>
  <strong>Date range start</strong>
  <%=h @dataset.date_range_start %>
</p>

<p>
  <strong>Date range end</strong>
  <%=h @dataset.date_range_end %>
</p>

<p>
  <strong>Publish date</strong>
  <%=h @dataset.publish_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Metadata date</strong>
  <%=h @dataset.metadata_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Licence</strong>
  <%=h @dataset.licence.name %>
</p>

<p>
  <strong>Category</strong>
  <%= link_to h(@dataset.category.name), @dataset.category  %>
</p>

<p>
	<strong>Tags</strong>
	<ul id="tags">
	<% for tag in @dataset.tags %> 
	<li><%= link_to tag.name, tag %></li>
	<% end %>
</p></section>

</article>