<article id="dataset">
	<header>
		<h1 id="datasetTitle"><%=h @dataset.name %></h1>
	</header>
	
	<section id="description">
		<%= simple_format(@dataset.description) %>
	</section>

<section id="info">
	<p><strong>Package identifier</strong>
		<%=h @dataset.to_param %>
	</p>
	
	<% if @dataset.version.present? %>
	<p>
	  <strong>Version</strong>
	  <%=h @dataset.version %>
	</p>
	<% end %>
	
	<% if @dataset.info_url.present? %>
	<p>
	  <strong>Further information</strong>
	  <%= link_to h(@dataset.info_url), h(@dataset.info_url) %>
	</p>
	<% end %>
	
	<% if @dataset.taxonomy_url.present? %>
	<p>
	  <strong>Taxonomy information</strong>
	  <%= link_to h(@dataset.taxonomy_url), h(@dataset.taxonomy_url) %>
	</p>
	<% end %>
	

	<% for format_url in @dataset.format_urls %>
	<p>
		<strong><%=h format_url.format_type.name %></strong>
		<span class="url"><%= link_to h(format_url.url), h(format_url.url) %></span>
	</p>
	<% end %>

<p>
  <strong>Language</strong>
  <%=h @dataset.language.name %>
</p>

<% if @dataset.geo_extent.present? %>
<p>
  <strong>Geographic coverage</strong>
  <%=h @dataset.geo_extent %>
</p>
<% end %>

<p>
  <strong>Geographic granularity</strong>
  <%=h @dataset.geo_granularity.name %>
</p>

<% if @dataset.precision.present? %>
<p>
  <strong>Precision</strong>
  <%=h @dataset.precision %>
</p>
<% end %>

<p>
  <strong>Author</strong>
  <%=h @dataset.author %>
</p>

<p>
  <strong>Contact email</strong>
  <%=h @dataset.contact_email %>
</p>

<% if @dataset.maintainer.present? %>
<p>
  <strong>Maintainer</strong>
  <%=h @dataset.maintainer %>
</p>
<% end %>

<% if @dataset.maintainer_email.present? %>
<p>
  <strong>Maintainer email</strong>
  <%=h @dataset.maintainer_email %>
</p>
<% end %>


<p>
  <strong>Update frequency</strong>
  <%=h @dataset.update_frequency %>
</p>

<p>
  <strong>Date range start</strong>
  <%=h @dataset.date_range_start %>
</p>

<p>
  <strong>Date range end</strong>
  <%=h @dataset.date_range_end %>
</p>

<p>
  <strong>Publish date</strong>
  <%=h @dataset.publish_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Metadata date</strong>
  <%=h @dataset.metadata_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Licence</strong>
  <%=h @dataset.licence.name %>
</p>

<p>
  <strong>Category</strong>
  <%= link_to h(@dataset.category.name), @dataset.category  %>
</p>

<p>
	<strong>Tags</strong>
	<ul id="tags">
	<% for tag in @dataset.tags %> 
	<li><%= link_to tag.name, tag %></li>
	<% end %>
</p></section>

</article>