<article id="dataset">
	<header>
		<h1 id="datasetTitle"><%=h @dataset.name %></h1>
	</header>
	
	<section id="description">
		<%= simple_format(@dataset.description) %>
	</section>

<section id="info">
<p>
  <strong>Version</strong>
  <%=h @dataset.version %>
</p>
	

<% if @dataset.info_url.empty? == FALSE %>
<p>
  <strong>Info url</strong>
  <%= link_to @dataset.info_url, @dataset.info_url %>
</p>
<% end %>

<% if @dataset.xml_url.empty? == FALSE %>
<p>
  <strong>Xml url</strong>
  <%=link_to @dataset.xml_url, @dataset.xml_url %>
</p>
<% end %>

<% if @dataset.csv_url.empty? == FALSE %>
<p>
  <strong>Csv url</strong>
  <%=link_to @dataset.csv_url, @dataset.csv_url %>
</p>
<% end %>

<p>
  <strong>Language</strong>
  <%=h @dataset.language.name %>
</p>

<p>
  <strong>Geo extent</strong>
  <%=h @dataset.geo_extent %>
</p>

<p>
  <strong>Maintainer</strong>
  <%=h @dataset.maintainer %>
</p>

<p>
  <strong>Contact email</strong>
  <%=h @dataset.contact_email %>
</p>

<p>
  <strong>Update frequency</strong>
  <%=h @dataset.update_frequency %>
</p>

<p>
  <strong>Date range start</strong>
  <%=h @dataset.date_range_start %>
</p>

<p>
  <strong>Date range end</strong>
  <%=h @dataset.date_range_end %>
</p>

<p>
  <strong>Publish date</strong>
  <%=h @dataset.publish_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Metadata date</strong>
  <%=h @dataset.metadata_date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Licence</strong>
  <%=h @dataset.licence.name %>
</p>

<p>
  <strong>Category</strong>
  <%= link_to h(@dataset.category.name), @dataset.category  %>
</p>

<p>
	<strong>Tags</strong>
	<ul id="tags">
	<% for tag in @dataset.tags %> 
	<li><%= link_to tag.name, {:controller =>"tags", :action => "show", :id => tag.name} %></li>
	<% end %>
</p></section>

</article>