<h1>Licences</h1>

<%= link_to 'New licence', new_admin_licence_path, :class => "newItem"  %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
  </tr>

<% @licences.each do |licence| %>
  <tr>
    <td><%=h licence.name %></td>
    <td><%=h licence.description %></td>
    <td><%=h licence.link %></td>
    <td><%= link_to 'Show', [:admin, licence] %></td>
    <td><%= link_to 'Edit', edit_admin_licence_path(licence) %></td>
    <td><%= link_to 'Destroy', [:admin, licence], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>