<article id="licenceShow" class="item show">
	<header class="clearfix">
		<h1><%= link_to h(@title), admin_licences_path %> : <%=h @licence.name %></h1>
		<nav>
			<%= link_to 'Edit', edit_admin_licence_path(@licence), :class => "niceButton editItem"  %>
		</nav>
	</header>
	
	<p>
	  <b>Name:</b>
	  <%=h @licence.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=h @licence.description %>
	</p>

	<p>
	  <b>Link:</b>
	  <%=h @licence.link %>
	</p>
</article>