<header id="page">
	<h1><%= h @title %> : <%=h @licence.name %></h1>
</header>


<p>
  <b>Name:</b>
  <%=h @licence.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @licence.description %>
</p>

<p>
  <b>Link:</b>
  <%=h @licence.link %>
</p>


<%= link_to 'Edit', edit_admin_licence_path(@licence) %> |
<%= link_to 'Back', admin_licences_path %>