<h1>Listing audiences</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @audiences.each do |audience| %>
  <tr>
    <td><%=h audience.name %></td>
    <td><%= link_to 'Show', audience %></td>
    <td><%= link_to 'Edit', edit_audience_path(audience) %></td>
    <td><%= link_to 'Destroy', audience, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New audience', new_audience_path %>