<article id="welcomePage">
	<header>
		<h1>Welcome</h1>
	</header>

	<p>This is where we do that open data stuff, in Warwickshire.</p>
	<section id="latestBlogposts">	
		<header>
			<h2>Latest posts from the blog</h2>
		</header>

		<% @rss.items[0..2].each do |item| %>
		<div class="blog">
				<h3><a href="<%=item.link%>"><%=item.title%></a></h3>
				<time datetime="<%=item.pubDate %>" pubdate><%=item.pubDate.strftime("%A #{item.pubDate.day.ordinalize} %B %Y") %></time>
				
				<div class="blogIntro">
					<%=item.description %>
					<p class="readMore"><a href="<%=item.link%>">Read more...</a></p>
				</div>
		</div>
		<% end %>
	</section>
	
	<section id="latestDatasets">
		<header>
			<h2>Latest datasets</h2>
		</header>
		<ul>
			<% @latestDatasets.each do |dataset| %>
				<li><span class="datasetTitle"><%= link_to h(dataset.name), dataset %></span> <span class="postedAgo">posted <%= time_ago_in_words(dataset.publish_date)%> ago</span></li>
			<% end %>
		</ul>
	</section>
</article>