<article id="formatTypeEdit" class="item edit">
	<header>
		<h1>Editing format type</h1>
	</header>

<% form_for([:admin, @format_type]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', admin_format_types_path %>

</article>