<header id="page">
	<h1><%= h @title %> : <%=h @format_type.name %></h1>
</header>


<p>
  <b>Name</b>
  <%=h @format_type.name %>
</p>

<p>
  <b>Description</b>
  <%=h @format_type.description %>
</p>


<%= link_to 'Edit', edit_admin_format_type_path(@format_type) %> |
<%= link_to 'Back', admin_format_types_path %>