<%= f.error_messages %>

<h2>Info</h2>

  <p>
    <%= f.label :name %>
    <%= f.text_field(:name, :size => "65") %>
 	<span class="help" id="helpName">This is what you call the data set. It is not a description – save that for the Description field. Do not give a trailing full stop</span>
  </p>

  <p>
    <%= f.label :status %>
    <%= f.select(:status, ["Draft", "Published"])%>
  </p>

  <p>
    <%= f.label :short_description %>
    <%= f.text_area(:short_description, :size => "65x3") %>
    <span class="help" id="helpShortDescription">This is a short, one sentence description that will appear on the dataset list page</span>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area(:description, :size => "65x15") %>
	<span class="help" id="helpDescription">This field is the main descriptive text for the dataset.</span>
  </p>

  <p>
    <%= f.label :precision %>
    <%= f.text_field(:precision, :size=>"60") %>
    <span class="help" id="helpPrecisions">This should indicate to users the level of precision in the data, to avoid over-interpretation. e.g. “per cent to two decimal places”</span>
  </p>

<h2>Categories</h2>

  <p>
    <%= f.label :audience_id %>
	<%= f.select :audience_id, Audience.all.collect {|s|
		[s.name, s.id]
	} %>
  </p>

  <p>
    <%= f.label :licence_id %>
	<%= f.select :licence_id, Licence.all.collect {|s|
		[s.name, s.id]
	} %>
  </p>

  <p>
    <%= f.label :category_id %>
	<%= f.select :category_id, Category.all(:order => "name ASC").collect {|s|
		[s.name, s.id]
	} %>
  </p>

<p>
  <%= f.label 'Tag list (delimiter is space)' %>
  <%= f.text_field(:tag_list, :size => "60") %> 
  <span class="help" id="helpTags">Tags should be separated by a space. Use a dash for a space in a tag, eg. "french-toast"</span>
</p>


  <p>
    <%= f.label :version %>
    <%= f.text_field(:version, :size => "6") %>
  </p>

  <p>
    <%= f.label :language_id %>
	<%= f.select :language_id, Language.all(:order => "name ASC").collect {|s|
		[s.name, s.id]
	} %>
  </p>

  <p>
    <%= f.label :geo_extent %>
    <%= f.text_field :geo_extent %>
  </p>

<p>
	<%= f.label :geo_granularity %>
	<%= f.select :geo_granularity_id, GeoGranularity.find(:all).collect {|s|
		[s.name, s.id]
	} %>
	<span class="help" id="helpGeoGranularity">This should give the lowest level of geographic granularity given in the dataset. <br />“Point” means datasets given down to the level of the entities being reported on (such as school, hospital, or police station). Where point applies use the Other/Point box to specify what is being reported on. <br />If none of the choices is appropriate, please specify in the “other” field. Where the granularity varies, please select the smallest and note this in the “other” field.</span>
</p>

<p id="f_geoGranularityPoint">
	<%= f.label :geo_granularity_point %>
	<%= f.text_field :geo_granularity_point %>
	<span class="help" id="helpGeoGranularityPoint">eg. police station, hospital, school, etc.</span>
</p>

<p id="f_geoGranularityOther">
	<%= f.label :geo_granularity_other %>
	<%= f.text_field :geo_granularity_other %>
	<span class="help" id="helpGeoGranularityOther">Tell us what your thing is .</span>
</p>

<h2>Formats</h2>

<p>
  <%= f.label :info_url %>
  <%= f.text_field(:info_url, :size => "60") %>
  <span class="help" id="helpInfoUrl">Could be a page on a website giving further information about the dataset; the data contained within, the way in which it was collected etc.</span>
</p>

<p>
  <%= f.label :taxonomy_url %>
  <%= f.text_field(:taxonomy_url, :size => "60") %>
  <span class="help" id="helpInfoUrl">This is an Internet link to a web page describing for re-users the taxonomies used in the dataset, if any, to ensure they understand any terms used.</span>
</p>



  <% f.fields_for :format_urls do |builder| %>
		<%= render 'format_url_fields', :f => builder %>
  <% end %>
  <p id="addFormatsButton"><%= link_to_add_fields "Add format", f, :format_urls %></p>

<h2>Dataset date range</h2>

<p>
	<%= f.label :temporal_granularity_id %>
	<%= f.select :temporal_granularity_id, TemporalGranularity.find(:all).collect {|s|
		[s.name, s.id]
	} %>
	<span class="help" id="helpTemporalGranularity">This should give the lowest level of temporal granularity given in the dataset. “Point” means datasets given down to the level of the individual occurrences being reported on. If none of the choices is appropriate, please specify in the “other” field. Where the granularity varies, please select the lowest and note this in the “other” field.</span>
</p>

<p>
  <%= f.label :date_range_start %>
  <%= f.datetime_select :date_range_start %>
</p>

<p>
  <%= f.label :date_range_end %>
  <%= f.datetime_select :date_range_end %>
</p>


<h2>Maintenance</h2>

<p>
  <%= f.label :local_authority_id %>
	<%= f.select :local_authority_id, LocalAuthority.find(:all).collect {|s|
		[s.name, s.id]
	} %>
</p>


<p>
  <%= f.label :author %>
  <%= f.text_field(:author, :size => "40") %>
	<span class="help" id="helpAuthor">The public name for the group to contact for any further information about this dataset.</span>
</p>


  <p>
    <%= f.label :contact_email %>
    <%= f.text_field(:contact_email, :size => "40") %>
	<span class="help" id="helpContactEmail">The group inbox for the author of the dataset.</span>
  </p>

 <p>
    <%= f.label :maintainer %>
    <%= f.text_field(:maintainer, :size => "40") %>
	<span class="help" id="helpMaintainer">This should usually be left blank. In the case that another section has taken over responsibility for maintaining the data, this field should reflect that.</span>
  </p>

  <p>
    <%= f.label :maintainer_email %>
    <%= f.text_field(:maintainer_email, :size => "40") %>
	<span class="help" id="helpContactEmail">If Maintainer is given, the relevant section’s e-mail address should be given here. Again an individual’s details should not be used.</span>
  </p>



  <p>
    <%= f.label :update_frequency %>
    <%= f.text_field :update_frequency %>
	<span class="help" id="helpUpdateFrequency">This should be how frequently it is planned the dataset will be updated with new versions, e.g. monthly. For one-off data, use “never”. For those once updated but now discontinued, use “discontinued”. Do not include ad hoc updates for corrections or refinements which are detailed in the Date Updated box above.</span>
  </p>

<h2>Publish and update dates</h2>

  <p>
    <%= f.label :publish_date %>
    <%= f.date_select :publish_date %>
  </p>

  <p>
    <%= f.label :updated_date %>
    <%= f.date_select :updated_date %>
  </p>

  <p>
    <%= f.label :metadata_date %>
    <%= f.date_select :metadata_date %>
  </p>
