<h1>Listing datasets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Maintainer</th>
    <th>Date range start</th>
    <th>Date range end</th>
    <th>Publish date</th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td><%=h dataset.name %></td>
    <td><%=h dataset.maintainer %></td>
    <td><%=h dataset.date_range_start %></td>
    <td><%=h dataset.date_range_end %></td>
    <td><%=h dataset.publish_date %></td>
    <td><%= link_to 'Show', dataset %></td>
    <td><%= link_to 'Edit', edit_dataset_path(dataset) %></td>
    <td><%= link_to 'Destroy', dataset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dataset', new_dataset_path %>