<article id="datasetList">
	<header class="clearfix">
		<h1>Datasets</h1>
		<nav>
			<%= link_to 'New dataset', new_admin_dataset_path, :class => "niceButton newItem"  %>
		</nav>
	</header>

<table>
  <tr>
    <th class="mainName">Name</th>
	<th class="publishStatus">Status</th>
    <th>Maintainer</th>
	<th>Licence</th>
    <th>Publish date</th>
	<th colspan="2"></th>
  </tr>

<% @datasets.each do |dataset| %>
  <tr>
    <td class="mainName"><%= link_to h(dataset.name), [:admin, dataset] %></td>
	<td class="publishStatus"><%=h dataset.status %></td>
    <td><%=h dataset.maintainer %></td>
	<td><%=h dataset.licence.name %></td>
    <td><%=h dataset.publish_date %></td>
    <td><%= link_to 'Edit', edit_admin_dataset_path(dataset), :class => "niceButton editItem"  %></td>
    <td><%= link_to 'Destroy', [:admin, dataset], :confirm => 'Are you sure?', :method => :delete, :class => "niceButton destroyItem"  %></td>
  </tr>
<% end %>
</table>
</article>