<article id="datasetShow" class="item show">
	<header class="clearfix">
		<h1><%= link_to h(@title), admin_datasets_path %> : <%=h @dataset.name %></h1>

		<nav id="item">
			<%= link_to 'Edit', edit_admin_dataset_path(@dataset), :class => "niceButton editItem"  %>
		</nav>
	</header>


<h2>Info</h2>

<p>
  <b>Name</b>
  <%=h @dataset.name %>
</p>

<p>
  <b>Short description</b>
  <%=h @dataset.short_description %>
</p>

<p>
  <b>Description</b>
  <%=h @dataset.description %>
</p>

<p>
  <b>Audience</b>
  <%=h @dataset.audience.name %>
</p>

<p>
  <b>Version</b>
  <%=h @dataset.version %>
</p>

<p>
  <b>Display title</b>
  <%=h @dataset.display_title %>
</p>

<p>
  <b>Language</b>
  <%=h @dataset.language.name %>
</p>

<p>
  <b>Geographical extent</b>
  <%=h @dataset.geo_extent %>
</p>

<p>
  <b>Maintainer</b>
  <%=h @dataset.maintainer %>
</p>

<p>
  <b>Contact email</b>
  <%=h @dataset.contact_email %>
</p>


<h2>Data</h2>

<p>
	<ul id="data">
	<% for format_url in @dataset.format_urls %>
		<li><span class="formatType"><%=h format_url.format_type.name %></span> <%=h format_url.url %></li>
	<% end %>
	</ul>
</p>

<h2>Dates</h2>

<p>
  <b>Update frequency</b>
  <%=h @dataset.update_frequency %>
</p>

<p>
  <b>Date range start</b>
  <%=h @dataset.date_range_start %>
</p>

<p>
  <b>Date range end</b>
  <%=h @dataset.date_range_end %>
</p>

<p>
  <b>Publish date</b>
  <%=h @dataset.publish_date %>
</p>

<p>
  <b>Metadata date</b>
  <%=h @dataset.metadata_date %>
</p>

<h2>Categories</h2>

<p>
  <b>Licence</b>
  <%=h @dataset.licence.name %>
</p>

<p>
  <b>Category</b>
  <%=h @dataset.category.name %>
</p>

<p><strong>Tags</strong>: <% for tag in @dataset.tags %> 
<%= link_to tag.name, admin_dataset_path(:view =>'tag', :tag => tag.name) %><% end %>
</p>
</article>