<article id="userEdit" class="item edit">
	<header>
		<h1><%= h @title %> : edit <%=h @user.login %></h1>
	</header>

<% form_for([:admin, @user]) do |f| %>
 
<%= render "form", :f => f %>
 
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @user] %> |
<%= link_to 'Back', admin_users_path %>
</article>