<article id="userShow" class="item show">
	<header id="page" class="clearfix">
		<h1><%= link_to h(@title), admin_users_path %> : <%=h @user.login %></h1>
		<nav>
			<%= link_to 'Edit', edit_admin_user_path(@user), :class => "niceButton editItem"  %>
		</nav>
	</header>


	<p>
	  <b>Login:</b>
	  <%=h @user.login %>
	</p>

	<p>
	  <b>Email:</b>
	  <%=h @user.email %>
	</p>


	<p>
	    <b>First name</b>
	    <%=h @user.first_name %>
	  </p>

	<p>
		<b>Last name</b>
	    <%=h @user.last_name %>
	  </p>

</article>