<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
	<meta charset="utf-8">
	<title><%= h(@title) %> : Warwickshire Open Data Admin</title>
	<%= stylesheet_link_tag 'admin' %>

	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>-->
	<%= javascript_include_tag 'jquery', 'application' %>
	</head>
<body>
	<div id="pageContainer">
		<header id="site">	
			<h1 id="pageHeader"><%= link_to "Warwickshire Open Data Admin", '/admin' %></h1>
			<div id="userStatus">
				<% if current_user %>
					Logged in as <%=h(current_user.first_name + " "  + current_user.last_name) %> | <%= link_to "logout", logout_path %>
				<% end %>
			</div>
			<nav id="main-nav" class="clearfix">
				<%= navigation [{:datasets => admin_datasets_path}, 
								{:audiences => admin_audiences_path},
								{:licences => admin_licences_path},
								{:categories => admin_categories_path},
								{:languages => admin_languages_path},
								{:users => admin_users_path}, 
								{:pages => admin_pages_path} ] 
								%>
			</nav>
		</header>
	
		<div id="home" class="pageContent clearfix">
			<div id="mainCol">
				<% if flash[:notice] %>
					<p id="flashNotice"><%= flash[:notice] -%></p>
				<% end %>
				<% if flash[:error] %>
					<p id="flashError"><%= flash[:error] -%></p>
				<% end %>
				<%= yield %>
			</div>
		</div>	
		
		<footer id="site">
			<%= link_to "Public site", home_path %>
		</footer>
	</div>
</body>
</html>